name: MLflow CI Workflow

on:
  workflow_call:

permissions:
  contents: write

jobs:
  retrain:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          echo "Installing dependencies..."
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas docker

      - name: Run MLflow project
        working-directory: Workflow-CI/MLProject
        run: |
          echo "Running MLflow project..."
          mlflow run . --env-manager=local

      - name: Save mlruns artifacts
        run: |
          echo "Saving mlruns artifacts..."
          mkdir -p artifacts
          cp -r Workflow-CI/MLProject/mlruns artifacts/

      - name: Upload artifact to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: artifacts
